<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap-reboot.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        em{
            color: #007bff;
            font-style: normal;
        }
        .login{
            padding: 50px;
            display: block;
            margin-right: auto;
            margin-left: auto;
            transform: translate(0%,30%);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
   
    </style>
  </head>
  <body>
    <div class="container">
      <form class="login">
          <h1 class="h1 text-center">Create <em>Account</em></h1>
        <div class="form-group">
          <label for="name"> Name </label>
          <input type="text" class="form-control" id="name" />
        </div>
        <div class="form-group">
            <label for="name"> Email </label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="form-group">
            <label for="name"> Address </label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="form-group">
            <label for="name"> Phone Number </label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="input-group mb-3">
            <label for="name"> Male </label>
            <input type="checkbox" class="form-control" id="name" />
            <label for="name"> Female </label>
            <input type="checkbox" class="form-control" id="name" />
            <label for="name"> Other </label>
            <input type="checkbox" class="form-control" id="name" />
          </div>
          <div class="row">
              <div class="col"><input type="button" class="btn btn-primary btn-block" value="Submit"></div>
              <div class="col"><input type="button" class="btn btn-primary btn-block" value="Reset"></div>
          </div>
          
          
      </form>
    </div>
  </body>
</html>
