<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
</head>
<body>
    <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <h1 class="bd-title" id="content">Overview</h1>
        <p class="bd-lead">Components and options for laying out your Bootstrap project, including wrapping containers, a powerful grid system, a flexible media object, and responsive utility classes.</p>
        <script async="" src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&amp;placement=getbootstrapcom" id="_carbonads_js"></script>
    
        <h2 id="containers"><span class="bd-content-title">Containers<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#containers" style="padding-left: 0.375em;"></a></span></h2>
    
    <p>Containers are the most basic layout element in Bootstrap and are <strong>required when using our default grid system</strong>. Containers are used to contain, pad, and (sometimes) center the content within them. While containers <em>can</em> be nested, most layouts do not require a nested container.</p>
    
    <p>Bootstrap comes with three different containers:</p>
    
    <ul>
    <li><code class="highlighter-rouge">.container</code>, which sets a <code class="highlighter-rouge">max-width</code> at each responsive breakpoint</li>
    <li><code class="highlighter-rouge">.container-fluid</code>, which is <code class="highlighter-rouge">width: 100%</code> at all breakpoints</li>
    <li><code class="highlighter-rouge">.container-{breakpoint}</code>, which is <code class="highlighter-rouge">width: 100%</code> until the specified breakpoint</li>
    </ul>
    
    <p>The table below illustrates how each container’s <code class="highlighter-rouge">max-width</code> compares to the original <code class="highlighter-rouge">.container</code> and <code class="highlighter-rouge">.container-fluid</code> across each breakpoint.</p>
    
    <p>See them in action and compare them in our <a href="/docs/4.5/examples/grid/#containers">Grid example</a>.</p>
    
    <table class="table text-left">
    <thead>
    <tr>
    <th></th>
    <th>
      Extra small<br>
      <span class="font-weight-normal">&lt;576px</span>
    </th>
    <th>
      Small<br>
      <span class="font-weight-normal">≥576px</span>
    </th>
    <th>
      Medium<br>
      <span class="font-weight-normal">≥768px</span>
    </th>
    <th>
      Large<br>
      <span class="font-weight-normal">≥992px</span>
    </th>
    <th>
      Extra large<br>
      <span class="font-weight-normal">≥1200px</span>
    </th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><code>.container</code></td>
    <td class="text-muted">100%</td>
    <td>540px</td>
    <td>720px</td>
    <td>960px</td>
    <td>1140px</td>
    </tr>
    <tr>
    <td><code>.container-sm</code></td>
    <td class="text-muted">100%</td>
    <td>540px</td>
    <td>720px</td>
    <td>960px</td>
    <td>1140px</td>
    </tr>
    <tr>
    <td><code>.container-md</code></td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td>720px</td>
    <td>960px</td>
    <td>1140px</td>
    </tr>
    <tr>
    <td><code>.container-lg</code></td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td>960px</td>
    <td>1140px</td>
    </tr>
    <tr>
    <td><code>.container-xl</code></td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td>1140px</td>
    </tr>
    <tr>
    <td><code>.container-fluid</code></td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    <td class="text-muted">100%</td>
    </tr>
    </tbody>
    </table>
</body>
</html>
