<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap-reboot.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"> </script>
    <script src="../assets/js/bootstrap.min.js"> </script>
     

</head>
<body>
    <div class="alert alert-success">Success</div>
    <div class="alert alert-success"> 
       <a href="https://www.google.com" class="alert-link"> Success</a>
    </div>

    <div class="alert alert-primary">
        <h4 class="alert-heading">
            Hello World
        </h4> 
   
        <hr>
        Hello World .............
    </div>


    <div class="alert alert-success alert-dismissible fade show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
      </div>
</body>
</html>