<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breadcrumb</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap-reboot.css" rel="stylesheet" />
    <style>
        .breadcrumb-item+.breadcrumb-item::before {
        content: ">";
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Item</li>
            <li class="breadcrumb-item">Item2</li>
            <li class="breadcrumb-item">Item3</li>
            <li class="breadcrumb-item active">Item4</li>
        </ol>
    </nav>
    <script>
        $
    </script>
</body>
</html>