<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap-reboot.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"> </script>
    <script src="../assets/js/bootstrap.min.js"> </script>
    <title>Card</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
           <div class="card-title"> Card Heading</div>
        </div>
        <img src="Slide2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            Card Body
    
        </div>
        <div class="card-footer">
            Card Footer
        </div>
    </div>
<br>
<br>
    <div class="card text-primary">
        <img src="Slide2.jpg" class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button class="btn btn-primary ">Click Here</button>
        </div>
      </div>
</body>
</html>