<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collapse</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap-reboot.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"> </script>
    <script src="../assets/js/bootstrap.min.js"> </script>
</head>
<body>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>


        <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton">Drop Down</button> 
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="" class="dropdown-item">Hello</a>
                <a href="" class="dropdown-item">Hello</a>
                <a href="" class="dropdown-item">Hello</a>
            </div>
        </div>
        
</body>
</html>