<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medai Object</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap-reboot.css" rel="stylesheet" />
</head>

<body>
    <div class="media">
        <img src="user1.png" height="64" width="64" alt="" class="mr-3">
        <div class="media-body">
            <h2>Heading 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ut quaerat, impedit deserunt, totam et
                nobis vitae molestias tempora pariatur quod neque suscipit magnam quo officia facere dolore harum
                expedita, deleniti fugit quia iure est! Iste eos iusto eum quas quam? Sint illum rerum illo quidem nobis
                quos quisquam soluta.</p>
        </div>
    </div>
    <hr>

    <ul class="list-unstyled">
        <li class="media">
            <img src="user1.png" height="64" width="64" alt="" class="mr-3">
            <div class="media-body">
                <h2>Heading1</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis iure exercitationem dolores neque
                    ratione ipsam dicta earum culpa impedit, hic sapiente. Recusandae, est? Architecto pariatur amet
                    rerum incidunt ut! Et deserunt hic at eligendi velit id sequi dolor sed facere, minima
                    necessitatibus quos natus quisquam soluta, eum nihil dolorem provident?</p>
            </div>
        </li>
        <li class="media">
            <img src="user2.png" height="64" width="64" alt="" class="mr-3">
            <div class="media-body">
                <h2>Heading2</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae laboriosam veniam iure
                    deserunt veritatis doloremque cum sit perferendis porro maxime nobis eveniet earum in alias
                    explicabo necessitatibus dignissimos, vitae fuga officiis? Magnam hic vel similique fuga suscipit
                    veniam assumenda id explicabo velit soluta, iusto rem cum temporibus quos voluptatibus!</p>
            </div>
        </li>
        <li class="media">
            <img src="user3.png" height="64" width="64" alt="" class="mr-3">
            <div class="media-body">
                <h2>Heading3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nisi eligendi exercitationem est beatae
                    quas eius deserunt ab error, mollitia eum harum magnam veritatis sed modi maiores porro nulla
                    laudantium! Porro doloribus, eaque consectetur possimus, quasi sapiente recusandae voluptate earum
                    culpa distinctio error nam nihil impedit. Debitis, molestias natus. Ut.</p>
            </div>
        </li>
        <li class="media">
            <img src="user1.png" height="64" width="64" alt="" class="mr-3">
            <div class="media-body">
                <h2>Heading4</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam possimus, reiciendis recusandae
                    dolor praesentium voluptate fugit nam eum tempora sequi rem, deleniti officia qui eaque obcaecati
                    ipsum odio amet debitis voluptatem, delectus alias aliquid cumque! At quidem esse voluptate
                    aspernatur, reiciendis expedita a, accusamus odit, qui explicabo laboriosam ipsum impedit.</p>
            </div>
        </li>
        <li class="media">
            <img src="user2.png" height="64" width="64" alt="" class="mr-3">
            <div class="media-body">
                <h2>Heading5</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur tempore enim eos! Itaque sit
                    magnam quisquam nobis eaque facilis facere numquam ut tenetur, possimus consequatur? Ducimus quod
                    consequuntur illo iure facere veritatis ut necessitatibus sint voluptatibus expedita tempora error
                    vero, alias debitis inventore! Cupiditate excepturi nemo nam voluptatibus deleniti asperiores.</p>
            </div>
        </li>
    </ul>

<hr>
    <div class="media">
        <img src="user1.png" height="64" width="64" class="mr-3" alt="">
        <div class="media-body">
            <h2>heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolorem alias, laboriosam cum atque
                voluptates, velit illo possimus dolor voluptatem corporis. Illum corrupti placeat rerum vitae explicabo
                assumenda omnis sunt voluptate aspernatur eos porro atque accusamus, obcaecati repellat perferendis
                deserunt suscipit nobis non est delectus blanditiis, fuga ab at. Nisi.</p>
            <div class="media">
                <img src="user1.png" height="64" width="64" class="mr-3" alt="">
                <div class="media-body">
                    <h2> heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusamus veniam inventore facere
                        molestiae beatae laudantium vel, quis repellat optio? Quaerat accusamus totam recusandae
                        consectetur aliquid illo, error cum obcaecati, repudiandae molestias placeat unde eveniet
                        debitis tempore. Porro beatae, ex labore, nesciunt quod ullam consequuntur culpa quae voluptate,
                        rem et.</p>
                </div>
            </div>
            <div class="media">
                <img src="user1.png" height="64" width="64" class="mr-3" alt="">
                <div class="media-body">
                    <h2>heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusamus veniam inventore facere
                        molestiae beatae laudantium vel, quis repellat optio? Quaerat accusamus totam recusandae
                        consectetur aliquid illo, error cum obcaecati, repudiandae molestias placeat unde eveniet
                        debitis tempore. Porro beatae, ex labore, nesciunt quod ullam consequuntur culpa quae voluptate,
                        rem et.</p>
                        <div class="media">
                            <img src="user1.png" height="64" width="64" class="mr-3" alt="">
                            <div class="media-body">
                                <h2>heading</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusamus veniam inventore facere
                                    molestiae beatae laudantium vel, quis repellat optio? Quaerat accusamus totam recusandae
                                    consectetur aliquid illo, error cum obcaecati, repudiandae molestias placeat unde eveniet
                                    debitis tempore. Porro beatae, ex labore, nesciunt quod ullam consequuntur culpa quae voluptate,
                                    rem et.</p>
                            </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>